/* === Reset and base styles === */

/* Google Font: Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #333;
  font-style: normal;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1;
  color: #875546;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1rem 0 0.5rem;
}

/* === UI element styles === */

.announcement {
  font-size: 1.2rem;
}

.game-mode {
  background-color: #875546;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.default-display {
  margin: 1.8rem 0;
  font-size: 1.2rem;
}

.message-board {
  margin: 1.8rem 0;
  padding: 2rem;
  font-size: 1.3rem;
  background-color: #DFCFBF;
  border-radius: 20px;
}

/* Message Board fade-in-out animation */
.message-board.animate {
  animation: fade-in-out 3s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* === Game control and button styles === */

.game-control {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #875546;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border: 0;
}

.button:first-child,
button:nth-child(2) {
  margin-right: 1rem;
}

/* === Show/Hide styles === */

/* Hide large cookie */
.cookie-large {
  display: none;
}

/*  Align small cookie to the right and closer to the top */
.cookie-small {
  position: relative;
  display: block;
  width: 60px;
  margin-left: 80%;
  margin-top: -19%;
}

/* Show line break on smaller devices */
.break {
  display: block;
}

/* === Game character styles === */

.speakers {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 1rem;
  margin-top: 2rem;
  list-style-type: none;
  place-items: center;
}

.person {
  padding: 25px;
  background-color: #eee;
  color: #007AFF;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  border: 0;
}

.person:focus-visible {
  outline: 2px solid orange; /* or your brand color */
  outline-offset: 4px;
}

.name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.icon img {
  width: 100px;
}

/* === Styles and animations for the selected speaker in active state === */

.active-glow {
  animation: glow 1s ease-in-out infinite alternate;
}

/* Glow effect for the cards */
@keyframes glow {
  to {
    box-shadow:
      0 0 10px 4px orange,
      0 0 20px 8px #ebeccf,
      0 0 30px 12px #fff;
  }
}

.active-zoom {
  animation: zoom 1.5s cubic-bezier(0, 0, 0, 0) forwards;
  transform: translate3d(0, 0, 0);
}

/* Zoom in/out effect for the emojis */
@keyframes zoom {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
    transform: scale(1.0, 1.0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
    transform: scale(1.1, 1.1);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}

/* === Game over cookie styles === */

.spinning-cookie {
  animation: gameover 4s forwards;
}

/* Spin cookie infinitely in circular clockwise motion */
@keyframes gameover {
  100% {
    transform: rotate(360deg);
  }
}

/* === Dark mode styles === */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  .message-board {
    color: #333;
  }
}

/* === Mobile-first responsive layout for larger screens === */

@media (min-width: 500px) {
  .cookie-small {
    position: relative;
    display: block;
    width: 60px;
    margin-left: 62%;
    margin-top: -15%;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.6em;
    margin-top: 1rem;
  }

  .game-mode {
    margin-left: 1rem;
  }

  .speakers {
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 2rem;
  }

  .message-board {
    margin: 2rem 0;
    padding: 3rem;
    font-size: 1.3rem;
    background-color: #DFCFBF;
    border-radius: 20px;
  }

  .game-control {
    display: block;
  }

  .button:first-child,
  button:nth-child(2) {
    margin-right: 2rem;
  }

  /* Show large cookie */
  .cookie-large {
    width: 70px;
    display: block;
    position: relative;
    left: 66%;
    margin-top: -9%;
  }

  /* Hide small cookie */
  .cookie-small {
    display: none;
  }

  /* Hide line break */
  .break {
    display: none;
  }
}

/* === Accessbility support === */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}