/* === Reset and base styles === */

/* Google Font: Rubik */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #333;
  font-style: normal;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1;
  color: #875546;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0.5rem;
}

/* === UI element styles === */
.announcement {
  font-size: 1.2em;
}

.sound-status {
  background-color: #eee;
  color: #d2691e;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.message-board {
  margin: 1.8rem 0;
  padding: 2rem;
  font-size: 1.3rem;
  background-color: #DFCFBF;
  border-radius: 20px;
}

/* === Game control and button styles === */
.game-control {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #875546;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border: 0;
}

.button:first-child {
  margin-right: 2rem;
}

/* === Show/Hide styles === */

/* Hide large cookie */
.large-cookie {
  font-size: 1.5em;
  display: none;
}

/*  Align small cookie to the right and closer to the top */
.small-cookie {
  display: block;
  font-size: 3rem;
  line-height: 0;
  margin-left: 80%;
  margin-top: -30px;
}

/* Show line break on smaller devices */
.break {
  display: block;
}

/* === Game character styles === */
.speakers {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 1rem;
  margin-top: 3.7rem;
  list-style-type: none;
}

.person {
  padding: 15px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.name {
  font-size: 1.5em;
}

.emoji {
  font-size: 4em;
}

/* Style for selected speaker */
.active {
  border: 3px solid orange;
  animation: glow 1.0s infinite alternate;
}

/* Animation for selected speaker */
@keyframes glow {
  to {
    box-shadow: 7px 7px 7px orange;
  }
}

/* === Dark mode styles === */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }

  header {
    color: #eee;
  }
}

/* === Mobile-first responsive layout for larger screens === */
@media (min-width: 700px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.6em;
    margin-top: 1rem;
  }

  .sound-status {
    margin-left: 1rem;
  }

  .speakers {
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 2rem;
    margin-top: 3rem;
  }

  .message-board {
    margin: 2rem 0;
    padding: 3rem;
    font-size: 1.3rem;
    background-color: #DFCFBF;
    border-radius: 20px;
  }

  .game-control {
    display: block;
  }

  /* Show large cookie */
  .large-cookie {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: -10px;
  }

  /* Hide small cookie */
  .small-cookie {
    display: none;
  }

  /* Hide line break */
  .break {
    display: none;
  }
}